@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-roboto-mono {
    font-family: "Roboto Mono", monospace;
  }
  .font-vt323 {
    font-family: "VT323", monospace;
  }
}

@layer base {
  html,
  body {
    @apply w-full h-full bg-white text-black;
  }
}

/* App Level Styles */

header {
  @apply flex flex-col font-vt323 w-full fixed top-0 z-10;
  #banner {
    @apply text-6xl;
    :hover {
      @apply scale-110;
    }
  }
}

dialog {
  @apply h-screen w-screen text-2xl py-4 px-6 bg-black bg-opacity-20;
  z-index: 999;
}

.menu {
  left: 15%;
  top: 15%;
  @apply relative m-4 w-[70%] rounded-lg shadow-xl bg-white border-2 border-black;
  ul {
    @apply flex flex-col gap-2 p-4 items-center;
    :hover {
      @apply scale-110;
    }
  }
  #menu-close {
    @apply flex flex-col absolute top-2 right-2;
    :hover {
      @apply scale-110;
    }
  }
}

/* Main Page Content */
main {
  @apply font-roboto-mono
}
